@model DepartmentAddDto

@{
    ViewData["Title"] = "Add";
}

<form asp-action="Add" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Qısa Ad</label>
                <input asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tam Ad</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Qeyd</label>
                <textarea asp-for="Record" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="form-group">
                            <a asp-controller="Department" asp-action="List" class="btn btn-outline-warning">Siyahı</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Təsdiq</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script>
            $(document).ready(function () {
                CKEDITOR.replace('Record');
            });
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
