@model DepartmentDetailDto

@{
    ViewData["Title"] = "Details";
}
<h3>Şöbə</h3>

<hr />
<form asp-action="Details" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Qısa Ad</label>
                <input disabled="disabled" asp-for="ShortName" class="form-control" />
                <span asp-validation-for="ShortName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Tam Ad</label>
                <input disabled="disabled" asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Qeyd</label>
                <textarea asp-for="Record" class="form-control"></textarea>
            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="form-group">
                            <a href="#" id="active" class="btn btn-outline-primary ">Aktiv et</a>
                        </div>
                    </div>
                </div> 
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="form-group">
                            <button id="update" type="submit" class="btn btn-outline-success d-none">Təsdiq</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="form-group">
                            <a asp-controller="Department" asp-action="List" class="btn btn-outline-warning">Siyahı</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        <script>
            $(document).ready(function () {

                var editor = CKEDITOR.replace('Record', {
                    readOnly: true
                });
                $('#active').on('click', function () {
                    if ($("#update").hasClass("d-none")) {
                        $("#update").removeClass("d-none");
                        $('input').prop('disabled', false);
                        
                        editor.setReadOnly(false);
                    }
                    else{
                        $("#update").addClass("d-none");
                        $('input').prop('disabled', true);

                        editor.setReadOnly(true);

                    }
                    
                });

            });
        </script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}