<h1>
  <h1 class="welcome-text">Sign Up!</h1>
</h1>

<form
  nz-form
  [nzLayout]="validateForm.get('formLayout')?.value"
  [formGroup]="validateForm"
  (ngSubmit)="register()"
>
  <nz-form-item>
    <nz-form-control
      nzErrorTip="Please input your email!"
    >
      <input
        nz-input
        formControlName="email"
        placeholder="input placeholder"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
      nzErrorTip="Please input your Password!"
    >
      <input
        nz-input
        formControlName="password"
        placeholder="input placeholder"
      />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control
    >
      <button nz-button nzType="primary" type="submit">Submit</button>
      <button nz-button nzType="default" type="button" (click)="cancel()">
        Cancel
      </button>
    </nz-form-control>
  </nz-form-item>
</form>
