@model LeaveDayAddDto
<h3>Məzuniyyət günü</h3>

<hr />
<form asp-action="Add" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Qeyd</label>
                <input asp-for="Note" class="form-control"/>
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>
        </div>        
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Gün Sayı</label>
                <input  asp-for="NumberOfDays" class="form-control" />
                <span asp-validation-for="NumberOfDays" class="text-danger"></span>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="control-label">Vəzifə</label>
                <select asp-for="PositionId" class="form-control">
                    <option value="" disabled selected hidden>Seçim edin</option>
                    @foreach (var item in Model.Positions)
                    {
                        <option value="@item.Id">@item.Title</option>
                    }

                </select>
                <span asp-validation-for="PositionId" class="text-danger"></span>

            </div>
        </div>
        <div class="col-md-6 mt-4">
            <div class="row">
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="form-group">
                            <a asp-controller="LeaveDay" asp-action="List" class="btn btn-outline-warning">Siyahı</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <div class="form-group">
                            <button type="submit" class="btn btn-outline-primary">Təsdiq</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts {
    @{
        <script src="~/lib/ckeditor/ckeditor.js"></script>
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
